<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Streaming.center!</title>
</head>

<body>
    <h4>Welcome to Streaming.center!</h4>
    <p>Use your personal account on our website to order and pay for all the necessary Internet-radio services</p>
    <ul>
        <li>Create Internet radio</li>
        <li>Android mobile applications</li>
        <li>iOS mobile applications</li>
        <li>Technical support, software development and other services</li>
    </ul>
    <h4>Personal account credentials</h4>
    <p><b>URL</b>: <a href="https://app.streaming.center">https://app.streaming.center</a></p>
    <p><b>Username</b>: {{ email }}</p>
    <p><b>Password</b>: {{ password }}</p>
    <p>&nbsp;</p>

    <p>Feel free to contact us if you have any questions!</p>
    <p>Email: <a href="mailto:info@radio-tochka.com">info@radio-tochka.com</a></p>
    <p>Telegram: <a href="https://t.me/StreamingCenter_eng">https://t.me/StreamingCenter_eng</a> </p>
</body>
</html>