<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset instructions for Streaming.center</title>
</head>

<body>
    <h4>Hello {{ user.email }}!</h4>
    <p>Someone requested a link to change your password. Click the link below to proceed.</p>
    <p><a href="https://app.{{domain}}/reset-password/confirm/?t={{token}}&u={{uid}}">https://app.{{domain}}/reset-password/confirm/?t={{token}}&u={{uid}}</a></p>
    <p>If you didn’t request this, please ignore the email. Your password will stay safe and won’t be changed.</p>
</body>

</html>