<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля для Radio-Tochka.com</title>
</head>

<body>
    <h4>Привет {{ user.email }}!</h4>
    <p>Вы заказали сброс пароля учетной записи, перейдите по ссылке ниже, чтобы завершить процесс установки пароля.</p>
    <p><a href="https://app.{{domain}}/reset-password/confirm/?t={{token}}&u={{uid}}">https://app.{{domain}}/reset-password/confirm/?t={{token}}&u={{uid}}</a></p>
    <p>Если Вы не запрашивали сброс пароля - просто проигнорируйте это сообщение, это безопасно. Ваш пароль останется без изменений.</p>
</body>

</html>