<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Streaming.center: account balance notification</title>
</head>

<body>
    <h4>Hello!</h4>
    <p>We inform you that the balance of your {{ email }} account on  https://streaming.center website is close to service interruption.</p>
    <p>Current balance: {{ balance }}{{ currency }}</p>
    <p>You need to top up your balance in any convenient way in your personal account as soon as possible.</p>
    <p>Replenishment of the balance is carried out in the "Payment" section of your personal account on our website: <a href="https://app.streaming.center/">https://app.streaming.center/</a></p>
    <p>You can request an invoice to pay with a <b>credit card</b>, use <b>Card-2-Card</b> payments (USD, EUR), <b>SWIFT</b> transfers (USD, EUR) and <b>USDT</b> crypto currency.</p>

    <p>&nbsp;</p>
    <p>Sincerely, your https://Streaming.Center.</p>
</body>
</html>