<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Streaming.center: account balance notification</title>
  </head>

  <body>
    <h4>Hello!</h4>

    <p>
      We would like to inform you that the balance of your account ({{ email }})
      on the <a href="https://streaming.center">Streaming.Center</a> platform is
      running low and may soon lead to service interruption.
    </p>

    <p><strong>Current balance:</strong> {{ balance }}{{ currency }}</p>

    <p>
      To avoid any disruption, please top up your balance as soon as possible.
      You can do this conveniently in the "Payments" section of your personal
      account:
    </p>

    <p>
      <a href="https://app.streaming.center/">https://app.streaming.center/</a>
    </p>

    <p>We support PayPal, credit cards, and over 70 other payment methods.</p>

    <p>For more information about our billing system, please visit:</p>
    <p>
      <a href="https://streaming.center/payment/"
        >https://streaming.center/payment/</a
      >
    </p>

    <p>
      Best regards,<br />
      The <a href="https://streaming.center">Streaming.Center</a> Team
    </p>
  </body>
</html>
