<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radio-Tochka.com: баланс аккаунта</title>
</head>

<body>
    <h4>Здравствуйте!</h4>
    <p>Сообщаем Вам, что баланс Вашего аккаунта {{ email }} на сайте https://radio-tochka.com закончился, услуги приостановлены.</p>
    <p>Текущий баланс: {{ balance }}{{ currency }}</p>
    <p>Вам необходимо пополнить баланс любым удобным способом в личном кабинете в ближайшее время.</p>
    <p>Пополнение баланса осуществляется в разделе "Оплата" личного кабинета на нашем сайте: <a href="https://app.radio-tochka.com/">https://app.radio-tochka.com/</a></p>

    <p>&nbsp;</p>
    <p>Получить консультацию всегда можно в нашем Телеграм канале: <a href="https://t.me/hStreamingCenter">https://t.me/hStreamingCenter</a></p>
    <p>С уважением, Администрация сайта https://Radio-Tochka.com.</p>
</body>
</html>