<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Streaming.center: account balance notification</title>
  </head>

  <body>
    <h4>Hello!</h4>
    <p>
      We would like to inform you that the balance of your account ({{ email }})
      on <a href="https://streaming.center">https://streaming.center</a> has
      been depleted, and your services have been temporarily suspended.
    </p>
    <p>Current balance: {{ balance }}{{ currency }}</p>
    <p>
      Please top up your balance as soon as possible in your personal account
      using any convenient payment method. Once the balance is restored, your
      service will be automatically reactivated.
    </p>
    <p>We support PayPal, credit cards, and over 70 other payment methods.</p>

    <p>For more information about our billing system, please visit:</p>
    <p>
      <a href="https://streaming.center/payment/"
        >https://streaming.center/payment/</a
      >
    </p>

    <p>
      Best regards,<br />
      The <a href="https://streaming.center">Streaming.Center</a> Team
    </p>
  </body>
</html>
